* {
    /*tag padrão*/
    padding: 0px;
    margin: 0px;
}

nav {
    position: fixed;
    /*Coloca o nav, no topo da tela*/
    top: 0;
    width: 100%;
    margin: 0px;
    background-color: rgba(83, 83, 83, 0.9);
    /*cria uma tabela azul de 60px na parte superior*/
    height: 60px;
}

ul {
    list-style: none;
    /*background-color: red;*/
    float: right;
    /*coloca vermelho na barra ul e joga para canto direito*/
    margin-right: 100px;
    /*afasta um pouco do final da tela*/
}

li {
    display: inline-block;
    /*para ficar um do lado do outro*/
    line-height: 60px;
    /*coloca o li do tamanho do nav*/
    padding: 0px 10px;
    /*nao muda a posição de cima ou baixo, muda espaçamento de letras*/
}

li a {
    text-decoration: none;
    /*tira o sublinhado do link*/
    color: white;
}

li a:hover {
    text-decoration: underline;
}

body {
    padding-top: 100px;
    font-family: Arial;
    background-image: url("../img/fundoentrar.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*fixa no meio a img*/
    background-size: cover;
    background-color: #464646;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
    height: auto;
}

form {
    width: 340px;
    border-radius: 8px;
    margin: 10px auto;
    background-color: rgba(211, 13, 13, .9);
    background-attachment: scroll;
    padding-top: 30px;
    padding-bottom: 110px;
    padding-left: 30px;
    padding-right: auto;
    box-shadow: 1px 1px 10px rgba(255, 253, 253, 0.4);
}

input {
    border-radius: 8px;
    display: block;
    float: left;
    width: 87%;
    height: 30px;
    font-size: 11pt;
    color: rgba(0, 0, 0, .7);
    padding: 0px;
    margin-bottom: 15px;
    /*separa os button*/
    outline: none;
}

h1 {
    clear: both;
    margin: auto;
    font-size: 15px;
    padding: 10px;
    width: 170px;
    border-radius: 8px;
    display: block;
    font-weight: bolder;
    /*tira o negrito*/
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4);
}

input[type=submit] {
    width: 100px;
    border-radius: 8px;
    height: 40px;
    cursor: pointer;
    background-color: rgba(123, 104, 238);
    color: white;
    border: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
}

input[type=submit]:hover {
    text-decoration: underline;
    text-decoration-color: tomato;
    color: black;
    background-color: yellowgreen;
}

label {
    display: block;
    width: 100%;
}


/*----------------------mensagem aviso----------------*/

.mensagem {
    text-align: center;
    background-color: rgba(255, 153, 0, 0.678);
    border: 1px solid rgba(0, 0, 0, .3);
    font-size: 15pt;
    padding: 15px;
    width: 96.8%;
}

.mensagem1 {
    text-align: center;
    background-color: rgba(51, 255, 0, 0.678);
    border: 1px solid rgba(0, 0, 0, .3);
    font-size: 15pt;
    padding: 15px;
    width: 96.8%;
}