* {
    /*tag padrão*/
    padding: 0px;
    margin: 0px;
}

body {
    padding-top: 100px;
    font-family: Arial;
    background-image: url("../img/fundoindex.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*fixa no meio a img*/
    background-size: cover;
    background-color: #464646;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
    height: auto;
}

h3 {
    font-size: 40pt;
    padding: 70px;
}


/*---------------------menu--------------------*/

nav {
    position: absolute;
    /*Coloca o nav, no topo da tela*/
    top: 0;
    background-color: #82909b;
    /*cria uma tabela azul de 60px na parte superior*/
    width: 100%;
    margin: 0px;
    background-color: rgba(83, 83, 83, 0.9);
    /*cria uma tabela azul de 60px na parte superior*/
    height: 60px;
}

ul {
    list-style: none;
    /*background-color: red;*/
    float: right;
    /*coloca vermelho na barra ul e joga para canto direito*/
    margin-right: 100px;
    /*afasta um pouco do final da tela*/
}

li {
    display: inline-block;
    /*para ficar um do lado do outro*/
    line-height: 60px;
    /*coloca o li do tamanho do nav*/
    padding: 0px 10px;
    /*nao muda a posição de cima ou baixo, muda espaçamento de letras*/
}

li a {
    text-decoration: none;
    /*tira o sublinhado do link*/
    color: white;
}

li a:hover {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    /*sublinha o link quando passa o mouse*/
}


/*------------------calculo---------------------*/

#conteiner {
    position: relative;
    top: auto;
    background-color: rgba(121, 121, 121, 0.8);
    border: 8px solid #3f4244;
    border-style: solid;
    width: 30%;
    display: block;
    margin: auto;
    padding: 2px 20px;
    text-align: center;
    line-height: 35pt;
}

#h2 {
    font-family: 'Microsoft YaHei Light';
    background-color: rgba(83, 83, 83, 0.9);
    line-height: 30px;
    color: aliceblue;
    padding: 10px;
    margin-bottom: 5px;
}

.botao {
    position: static;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    width: 80%;
    height: 35px;
    background-color: #0066b8;
    text-align: center;
    padding: 9px 10px;
    border: none;
    color: white;
    cursor: pointer;
}

.botao:hover {
    background-color: rgb(11, 216, 182);
    color: white;
    clear: both;
}

input {
    border-radius: 8px;
    display: inline-block;
    width: 55%;
    height: 30px;
    font-size: 11pt;
    color: rgba(0, 0, 0, .7);
    padding: 5px;
    margin-bottom: 10px;
    /*separa os button*/
    outline: none;
}

h2 {
    border-radius: 8px;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 1px 1px 10px rgba(245, 244, 244, 0.4);
    background-color: rgba(0, 0, 0, .9);
    text-align: center;
    height: 40px;
    display: block;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px 3px gray;
    color: rgba(255, 255, 255, 0.8)
}

p {
    display: inline-block;
    color: aliceblue;
    clear: both;
    font-size: 15px;
    font-family: cursive;
}

p.resultado {
    width: 80%;
    padding: 10px;
    text-align: center;
    font-size: 15pt;
    font-weight: bolder;
    text-shadow: 1px 1px 3px black;
    color: green;
    clear: both;
}

p.msg {
    width: 80%;
    padding: 10px;
    text-align: center;
    font-size: 15pt;
    font-weight: bolder;
    text-shadow: 1px 1px 3px black;
    color: orangered;
    clear: both;
}

p.resultadofinal {
    width: 80%;
    padding: 10px;
    text-align: center;
    font-size: 15pt;
    font-weight: bolder;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    color: orangered;
    clear: both;
}

p.resultadofinal1 {
    width: 80%;
    padding: 10px;
    text-align: center;
    font-size: 15pt;
    font-weight: bolder;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    color: orangered;
    clear: both;
}

p.ni {
    width: 80%;
    text-align: center;
    font-size: 15pt;
    font-weight: bolder;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    font-size: 15pt;
    color: red;
    padding: 10px;
    clear: both;
}